img{
    width: 100%;
}
.article{
    /* position: absolute; */
    bottom: 5px;
    
}
h2{
    text-align: center;
}
.article-wrapper{
    background-color: orange;
    height: 100%;
    padding: 25px;
    border-radius: 5px;
    box-shadow: 5px 10px 18px #888888;
    display: flex;
    align-items: flex-end; 
}